<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
      layout:decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width" />
    
    <title>Lista de Convidados</title>
</head>
    <body>
        <div layout:fragment="content">
            <button id="bt1">Load Fragment 1</button>
			<button id="bt2">Load Fragment 2</button> 
			
			<div id="content"></div>
			
			 <script>
			 //$( document ).ready(function() {
				    $("#bt1").click(function () {
				        $("#content").load("/frag1");
				    });
				    
				    $("#bt2").on("click", function () {
				        $("#content").load("/frag2");
				    });
			 //}); 
			</script>
        </div>          
    </body>
</html>
